<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="./../static/style.css">
</head>
<body>
  <div class="macbook-air">
    <div class="div">
      <img class="ellipse" src="https://c.animaapp.com/77vmtfcC/img/ellipse-515.svg" />
      <div class="overlap">
        <div class="ellipse-2"></div>
        <img class="frame" src="https://c.animaapp.com/77vmtfcC/img/frame-1000002021.svg" />
      </div>
      <div class="overlap-group" id="overlap-group">
        <form id="image-upload-form" action="predict" method="post" enctype="multipart/form-data">
          <input type="file" name="file" id="file-input" class="hidden-input" accept="image/*">
        </form>
        <div class="div-wrapper" id="div-wrapper">
          <div class="text-wrapper" id="prediction-text">Achene</div>
        </div>
        <div class="overlap-2">
          <div class="text-wrapper-2">Drop Your Picture</div>
        </div>
        <div class="union-wrapper">
          <img class="union" src="https://c.animaapp.com/77vmtfcC/img/union.svg" />
        </div>
      </div>


    </div>
    <p class="health-at-hand-at">
      <span class="span">Health at<br />hand at </span>
      <span class="text-wrapper-3">your<br /></span>
      <span class="span">fingertips</span>
    </p>
    <div class="text-wrapper-4">Deraid.</div>
    <div class="text-wrapper-5">Tips for health</div>
    <div class="overlap-3">
      <div class="ellipse-3"></div>
      <img class="img" src="https://c.animaapp.com/77vmtfcC/img/union-1.svg" />
    </div>
    <div class="text-wrapper-6">Jane Smith</div>
    <div class="text-wrapper-7">120 mg/dL</div>
    <div class="text-wrapper-8">120 mg/dL</div>
    <div class="text-wrapper-9">120 mg/dL</div>
    <div class="text-wrapper-10">120 mg/dL</div>
    <div class="text-wrapper-11">Blood Sugar</div>
    <div class="text-wrapper-12">Blood Sugar</div>
    <div class="text-wrapper-13">Blood Sugar</div>
    <div class="text-wrapper-14">Blood Sugar</div>
    <div class="text-wrapper-15">Vadodara, India</div>
    <p class="app-is-a-modern-way">
      app is a modern way to take charge of your <br />well-being. We offer you the ability to upload <br />health
      data file and provide personalized check-<br />up recommendations based on this information.
    </p>
    <div class="overlap-4">
      <div class="text-wrapper-16">Check the Skin Type</div>
    </div>
    <div class="rectangle"></div>
    <div class="vector-wrapper"><img class="vector" src="https://c.animaapp.com/77vmtfcC/img/vector-29.svg" /></div>
    <div class="img-wrapper"><img class="vector" src="https://c.animaapp.com/77vmtfcC/img/vector-29.svg" /></div>
    <div class="overlap-5"><img class="vector" src="https://c.animaapp.com/77vmtfcC/img/vector-29.svg" /></div>
    <div class="overlap-6"><img class="vector" src="https://c.animaapp.com/77vmtfcC/img/vector-29.svg" /></div>
    <img class="vector-2" src="https://c.animaapp.com/77vmtfcC/img/vector-30.svg" />
    <div class="overlap-7">
      <div class="rectangle-2"></div>
      <div class="frame-2">
        <div class="group">
          <div class="overlap-group-2">
            <div class="text-wrapper-17">Diseases</div>
          </div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap-8">
            <div class="text-wrapper-18">
              <a class="nav_comp" href="/treatments">Treatment</a>
            </div>
          </div>
        </div>
        <div class="overlap-group-wrapper">
          <div class="overlap-8">
            <div class="text-wrapper-19"><a class="nav_comp" href="/hospital">Hospital</a></div>
          </div>
        </div>
        <p class="p">What your body is telling you</p>
        <img class="union-2" src="https://c.animaapp.com/77vmtfcC/img/union-2.svg" />
      </div>
      <div class="rectangle-3">
        <div class="text-wrapper-25">Diagnosis</div>
        <div class="text-wrapper-20" id="disease-name">Acne</div>
        <p class="text-wrapper-26" id="disease-description">
          A condition resulting from clogged or plugged hair follicles present under the skin. It presents as small to
          large, red bumps on the skin which may be painful and pus-filled in some cases.
        </p>
        <div class="text-wrapper-28"><a style="text-decoration: none;" href="http://">Referral Links</a></div>
      </div>
      <div class="rectangle-4">
        <div  class="text-wrapper-21">Symptoms</div>
        <p id="symptoms-list" class="acne-commonly-occurs" >
          Acne commonly occurs on the face, chest, upper back, and shoulders.
        </p>
      </div>
      <div class="rectangle-5">
        <div class="text-wrapper-24">Causes</div>
        <p  class="bacterial-infection">
          Bacterial infection of the follicle.
        </p>
      </div>
      <div class="rectangle-7">
        <div class="text-wrapper-22">Prevention</div>
        <p class="wash-face-twice">
          Wash face twice daily
        </p>
      </div>
      <div class="rectangle-8">
        <div class="text-wrapper-23">Complication</div>
        <p id="complications-list" class="scarring-of-the-skin">Scarring of the skin</p>  
      </div>
      <!-- <div class="group-2">
        <img class="img-2" src="https://c.animaapp.com/77vmtfcC/img/frame.svg" />
        <p class="text-wrapper-27">Family history may increase likelihood</p>
      </div>
      <div class="group-3">
        <p class="text-wrapper-29">Very common (More than 1 crore cases per year in India)</p>
        <img class="li-activity" src="https://c.animaapp.com/77vmtfcC/img/li-activity-1.svg" />
      </div>
      <div class="group-4">
        <p class="text-wrapper-30">Rarely requires lab test or imaging</p>
        <img class="img-2" src="https://c.animaapp.com/77vmtfcC/img/li-clipboard-list-1.svg" />
      </div>
      <div class="group-5">
        <p class="text-wrapper-31">Can last several months or years</p>
        <img class="img-2" src="https://c.animaapp.com/77vmtfcC/img/li-clock-4-1.svg" />
      </div> -->
      <!-- container margin -->
      <img class="vector-3" src="https://c.animaapp.com/77vmtfcC/img/vector-33.svg" />
      <img class="vector-4" src="https://c.animaapp.com/77vmtfcC/img/vector-33.svg" />
      <img class="vector-5" src="https://c.animaapp.com/77vmtfcC/img/vector-33.svg" />
      <img class="vector-6" src="https://c.animaapp.com/77vmtfcC/img/vector-33.svg" />
      <img class="vector-7" src="https://c.animaapp.com/77vmtfcC/img/vector-33.svg" />
    </div>
    <div class="overlap-9">
      <img class="rectangle-10" src="https://c.animaapp.com/77vmtfcC/img/rectangle-34624271@2x.png" />
      <div class="text-wrapper-32">Acne Care Routine</div>
      <p class="through-guided">
        Through guided breathing exercises and <br />personalised recommendations, its helps <br />you optimise your
        lung function, promoting<br />improved blood oxygen levels
      </p>
      <div class="text-wrapper-33">20 min</div>
    </div>
  </div>
  <script src="./../static/script.js"></script>
</body>
</html>
