<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./../static/style.css">
    <link rel="stylesheet" href="./../static/hospitals.css">
    <style>


    </style>
</head>

<body>
    <div class="macbook-air">
        <div class="div">
            <img class="ellipse" src="https://c.animaapp.com/77vmtfcC/img/ellipse-515.svg" />
            <div class="overlap">
                <div class="ellipse-2"></div>
                <img class="frame" src="https://c.animaapp.com/77vmtfcC/img/frame-1000002021.svg" />
            </div>
            <div class="overlap-group" id="overlap-group">
                <form id="image-upload-form" action="predict" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" id="file-input" class="hidden-input" accept="image/*">
                </form>
                <div class="div-wrapper" id="div-wrapper">
                    <div class="text-wrapper" id="prediction-text">Achene</div>
                </div>
                <div class="overlap-2">
                    <div class="text-wrapper-2">Drop Your Picture</div>
                </div>
                <div class="union-wrapper">
                    <img class="union" src="https://c.animaapp.com/77vmtfcC/img/union.svg" />
                </div>
            </div>


        </div>
        <p class="health-at-hand-at">
            <span class="span">Health at<br />hand at </span>
            <span class="text-wrapper-3">your<br /></span>
            <span class="span">fingertips</span>
        </p>
        <div class="text-wrapper-4">Deraid.</div>
        <div class="text-wrapper-5">Tips for health</div>
        <div class="overlap-3">
            <div class="ellipse-3"></div>
            <img class="img" src="https://c.animaapp.com/77vmtfcC/img/union-1.svg" />
        </div>
        <div class="text-wrapper-6">Jane Smith</div>
        <div class="text-wrapper-7">120 mg/dL</div>
        <div class="text-wrapper-8">120 mg/dL</div>
        <div class="text-wrapper-9">120 mg/dL</div>
        <div class="text-wrapper-10">120 mg/dL</div>
        <div class="text-wrapper-11">Blood Sugar</div>
        <div class="text-wrapper-12">Blood Sugar</div>
        <div class="text-wrapper-13">Blood Sugar</div>
        <div class="text-wrapper-14">Blood Sugar</div>
        <div class="text-wrapper-15">Vadodara, India</div>
        <p class="app-is-a-modern-way">
            app is a modern way to take charge of your <br />well-being. We offer you the ability to upload <br />health
            data file and provide personalized check-<br />up recommendations based on this information.
        </p>
        <div class="overlap-4">
            <div class="text-wrapper-16">Check the Skin Type</div>
        </div>
        <div class="rectangle"></div>
        <div class="vector-wrapper"><img class="vector" src="https://c.animaapp.com/77vmtfcC/img/vector-29.svg" /></div>
        <div class="img-wrapper"><img class="vector" src="https://c.animaapp.com/77vmtfcC/img/vector-29.svg" /></div>
        <div class="overlap-5"><img class="vector" src="https://c.animaapp.com/77vmtfcC/img/vector-29.svg" /></div>
        <div class="overlap-6"><img class="vector" src="https://c.animaapp.com/77vmtfcC/img/vector-29.svg" /></div>
        <img class="vector-2" src="https://c.animaapp.com/77vmtfcC/img/vector-30.svg" />
        <div class="overlap-7">
            <div class="rectangle-2"></div>
            <div class="frame-2">
                <div class="group">
                    <div style="background-color: black;border: 1.5px solid; border-color: #ffffff;" class="overlap-group-2">
                        <div style=" color: white;" class="text-wrapper-17"  href="/">Diseases</div>
                    </div>
                </div>
                <div class="overlap-wrapper">
                    <div class="overlap-8">
                        <div class="text-wrapper-18">
                            <a class="nav_comp" href="/treatments">Treatment</a>
                        </div>
                    </div>
                </div>
                <div class="overlap-group-wrapper">
                    <div style="background-color: white;" class="overlap-8">
                        <div class="text-wrapper-19"><a style=" color: black;" class="nav_comp">Hospital</a></div>
                    </div>
                </div>
                <p class="p">What your body is telling you</p>
                <img class="union-2" src="https://c.animaapp.com/77vmtfcC/img/union-2.svg" />
            </div>
        </div>
        <div class="overlap-9">
            <img class="rectangle-10" src="https://c.animaapp.com/77vmtfcC/img/rectangle-34624271@2x.png" />
            <div class="text-wrapper-32">Acne Care Routine</div>
            <p class="through-guided">
                Through guided breathing exercises and <br />personalised recommendations, its helps <br />you optimise
                your
                lung function, promoting<br />improved blood oxygen levels
            </p>
            <div class="text-wrapper-33">20 min</div>
        </div>
        <div class="box">
            <div class="group">
                <div class="overlap-g">
                    <div class="overlap-gr">
                      <div class="text-w">Dr. Aditya Shah</div>
                      <p class="address">A-4, Bihari Apartments, RC Dutt Road, Vadodara, Gujarat · 32 km</p>
                      <div class="overlap-grou">
                        <div class="ellipse"></div>
                        <img class="union" src="https://c.animaapp.com/5DSA7rLE/img/union.svg" />
                      </div>
                    </div>
                  </div>
            </div>
          </div>
    </div>
    <script src="./../static/script.js"></script>
</body>

</html>