<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="script.css" />
  </head>
  <body>
    <div class="macbook-air">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="ellipse"></div>
          <div class="rectangle"></div>
          <div class="group">
            <div class="overlap-group">
              <img class="subtract" src="https://c.animaapp.com/yg5sJoFX/img/subtract.svg" />
              <div class="div">
                <div class="text-wrapper">“</div>
                <div class="what-s-your-skin">What’s your <br />Skin Said.</div>
                <p class="p">
                  “Search and find your skin problem solution is now easier than ever, just click a picture and upload.”
                </p>
              </div>
              <div class="ellipse-2"></div>
              <img class="img" src="https://c.animaapp.com/yg5sJoFX/img/ellipse-515.svg" />
              <img class="union" src="https://c.animaapp.com/yg5sJoFX/img/union.svg" />
              <img class="union-2" src="https://c.animaapp.com/yg5sJoFX/img/union-1.svg" />
              <img class="vector" src="https://c.animaapp.com/yg5sJoFX/img/vector-1.svg" />
              <div class="frame">
                <div class="union-wrapper">
                  <img class="union-3" src="https://c.animaapp.com/yg5sJoFX/img/union-2.svg" />
                </div>
              </div>
              <img class="vector-2" src="https://c.animaapp.com/yg5sJoFX/img/vector-2.svg" />
              <div class="group-wrapper">
                <div class="group-2">
                  <div class="group-3">
                    <p class="get-your-right">Get your right Doctor and right<br />Hospital register now</p>
                    <p class="be-among-the-first">
                      Be among the first testers to <br />experience the easiest way to start<br />solving skin issues.
                    </p>
                  </div>
                  <div class="overlap-group-wrapper">
                    <div class="overlap-group-2">
                      <img class="ellipse-3" src="https://c.animaapp.com/yg5sJoFX/img/ellipse-847@2x.png" />
                      <img class="ellipse-4" src="https://c.animaapp.com/yg5sJoFX/img/ellipse-846@2x.png" />
                      <img class="ellipse-5" src="https://c.animaapp.com/yg5sJoFX/img/ellipse-845@2x.png" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-wrapper-2">DermAID.</div>
          <div class="rectangle-2"></div>
          <div class="frame-2">
            <p class="text-wrapper-3">Please Enter your Account Details</p>
            <div class="div-wrapper">
              <div class="overlap-group-3"><div class="text-wrapper-4">Sign Up</div></div>
            </div>
            <div class="group-4">
              <div class="overlap-2"><div class="text-wrapper-5">Sign In</div></div>
            </div>
            <form class="frame-3">
              <div class="frame-4">
                <div class="group-5">
                  <div class="text-wrapper-6">First Name</div>
                  <div class="group-6">
                    <div class="overlap-group-4"><div class="text-wrapper-7"><input type="text" name="First" id="fname" placeholder="bhubnesh" style="border: none;"></div></div>
                  </div>
                </div>
                <div class="group-7">
                  <div class="text-wrapper-8">Last Name</div>
                  <div class="group-8">
                    <div class="overlap-group-5"><div class="text-wrapper-9"><input type="text" name="last" id="lname" placeholder="maharana" style="border: none;"></div></div>
                  </div>
                </div>
              </div>
              <div class="group-9">
                <div class="text-wrapper-10">Email</div>
                <div class="group-10">
                  <div class="overlap-group-6"><div class="text-wrapper-11"><input type="email" name="mail" id="mailID" placeholder="bhubnesh" style="border: none;"></div></div>
                </div>
              </div>
              <div class="group-11">
                <div class="text-wrapper-12"><input type="password" name="pass" id="pass" placeholder="miku@8476" ></div>
                <div class="frame-wrapper">
                </div>
              </div>
            </form>
          </div>
          <img class="union-4" src="https://c.animaapp.com/yg5sJoFX/img/union-3.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
