<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./../static/treatments.css" />
</head>
<body>
    <div class="macbook-air">
        <div class="div">
            <img class="ellipse" src="https://c.animaapp.com/1pZ8h9vQ/img/ellipse-515.svg" />
            <div class="overlap">
                <div class="rectangle"></div>
                <div class="rectangle-2"></div>
                <div class="rectangle-3"></div>
            </div>
            <div class="overlap-group">
                <div class="div-wrapper"><div class="text-wrapper">{{ session.get('predicted_disease', 'Disease Name') }}</div></div>
                <div class="overlap-2"><div class="text-wrapper-2">Drop Your Picture</div></div>
                <div class="frame">
                    <img class="union" src="https://c.animaapp.com/1pZ8h9vQ/img/union.svg" />
                </div>
            </div>
        </div>
        <p class="health-at-hand-at">
            <span class="span">Health at<br />hand at </span>
            <span class="text-wrapper-3">your<br /></span>
            <span class="span">fingertips</span>
        </p>
        <div class="text-wrapper-4">Deraid.</div>
        <div class="text-wrapper-5">Tips for health</div>
        <div class="overlap-3">
            <div class="ellipse-2"></div>
            <img class="img" src="https://c.animaapp.com/1pZ8h9vQ/img/union-1.svg" />
        </div>
        <div class="overlap-4">
            <img class="rectangle-4" src="https://c.animaapp.com/1pZ8h9vQ/img/rectangle-34624271@2x.png" />
            <div class="text-wrapper-6">Acne Care Routine</div>
            <div class="overlap-5">
                <p class="through-guided">
                    Through guided breathing exercises and <br />personalised recommendations, it helps <br />you optimise
                    your lung function, promoting<br />improved blood oxygen levels
                </p>
                <p class="through-guided">
                    Through guided breathing exercises and <br />personalised recommendations, it helps <br />you optimise
                    your lung function, promoting<br />improved blood oxygen levels
                </p>
            </div>
            <div class="text-wrapper-7">20 min</div>
        </div>
        <div class="text-wrapper-8">Jane Smith</div>
        <div class="text-wrapper-9">120 mg/dL</div>
        <div class="text-wrapper-10">120 mg/dL</div>
        <div class="text-wrapper-11">120 mg/dL</div>
        <div class="text-wrapper-12">120 mg/dL</div>
        <div class="text-wrapper-13">Blood Sugar</div>
        <div class="text-wrapper-14">Blood Sugar</div>
        <div class="text-wrapper-15">Blood Sugar</div>
        <div class="text-wrapper-16">Blood Sugar</div>
        <div class="text-wrapper-17">Vadodara, India</div>
        <p class="app-is-a-modern-way">
            app is a modern way to take charge of your <br />well-being. We offer you the ability to upload <br />health
            data file and provide personalized check-<br />up recommendations based on this information.
        </p>
        <div class="overlap-6"><div class="text-wrapper-18">Check the Skin Type</div></div>
        <div class="rectangle-5"></div>
        <div class="vector-wrapper"><img class="vector" src="https://c.animaapp.com/1pZ8h9vQ/img/vector-29.svg" /></div>
        <div class="img-wrapper"><img class="vector" src="https://c.animaapp.com/1pZ8h9vQ/img/vector-29.svg" /></div>
        <div class="overlap-7"><img class="vector" src="https://c.animaapp.com/1pZ8h9vQ/img/vector-29.svg" /></div>
        <div class="overlap-8"><img class="vector" src="https://c.animaapp.com/1pZ8h9vQ/img/vector-29.svg" /></div>
        <img class="vector-2" src="https://c.animaapp.com/1pZ8h9vQ/img/vector-30.svg" />
        <div class="overlap-9">
            <div class="rectangle-6"></div>
            <div class="frame-2">
                <div class="group">
                    <div class="overlap-group-2"><div class="text-wrapper-19"><a style="color: white;" href="/">Diseases</a></div></div>
                </div>
                <div class="overlap-wrapper">
                    <div class="overlap-10"><div style="color: rgb(0, 0, 0);" class="text-wrapper-20">Treatment</div></div>
                </div>
                <div class="overlap-group-wrapper">
                    <div class="overlap-group-2"><div style="color: white;" class="text-wrapper-21"><a style="color: white;" href="/hospital">Hospital</a></div></div>
                </div>
                <p class="p">What your body is telling you</p>
                <img class="union-2" src="https://c.animaapp.com/1pZ8h9vQ/img/union-2.svg" />
            </div>
            <img class="rectangle-7" src="https://c.animaapp.com/1pZ8h9vQ/img/rectangle-34624295.png" />
            
            <!-- Dynamic Content Section -->
            <div class="frame-3">
          
                <div class="group-2">
                    <div class="overlap-group-3">
                        <div class="text-wrapper-22">medicine_name</div>
                    </div>
                </div>
                
            </div>
        </div>

        <script src="{{ url_for('static', filename='updateContent.js') }}"></script>
    </div>
</body>
</html>
